In [1]:
import pandas
import numpy
import time

In [2]:
league = pandas.DataFrame()
size=2_000_000

In [3]:
league['age'] = numpy.random.randint(1,40,size)
league['position']=numpy.random.choice(['attacker','defender','goalkeeper'],size)
league['team']=numpy.random.choice(['red','green','blue','yellow'],size)
league['win']=numpy.random.choice(['yes','no'],size)
league['probability']=numpy.random.uniform(0,1,size)

In [4]:
league

         age    position    team  win  probability
0         25    defender     red   no     0.681043
1         27  goalkeeper     red   no     0.719119
2         37  goalkeeper   green   no     0.178728
3         27    attacker    blue   no     0.082314
4         17    attacker     red  yes     0.423325
...      ...         ...     ...  ...          ...
1999995   15    attacker  yellow  yes     0.364752
1999996   33    defender     red   no     0.034835
1999997   10  goalkeeper  yellow   no     0.393862
1999998   10  goalkeeper  yellow   no     0.381339
1999999    2    attacker     red   no     0.580796

[2000000 rows x 5 columns]

In [5]:
league.info()
#int 32 - floast 64 and 3 object(strings)
#paratiroume oti exw ena int32 ena float64
# 68MB of total memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   age          int32
 1   position     object
 2   team         object
 3   win          object
 4   probability  float64
dtypes: float64(1), int32(1), object(3)
memory usage: 68.7+ MB

In [6]:
league.groupby(['team']).mean()

              age  probability
team
blue    19.983003     0.499519
green   20.001356     0.499723
red     20.005583     0.499759
yellow  20.010651     0.500155

In [7]:
league.groupby(['team','position']).mean()

                         age  probability
team   position
blue   attacker    20.005968     0.498263
       defender    19.975194     0.499348
       goalkeeper  19.967840     0.500945
green  attacker    20.017292     0.500274
       defender    20.002325     0.499250
       goalkeeper  19.984431     0.499640
red    attacker    19.987505     0.499503
       defender    19.994590     0.500427
       goalkeeper  20.034683     0.499349
yellow attacker    19.989329     0.499425
       defender    19.981130     0.500819
       goalkeeper  20.061339     0.500221

In [8]:
league.groupby(['team','position'])['age'].mean()

team    position
blue    attacker      20.005968
        defender      19.975194
        goalkeeper    19.967840
green   attacker      20.017292
        defender      20.002325
        goalkeeper    19.984431
red     attacker      19.987505
        defender      19.994590
        goalkeeper    20.034683
yellow  attacker      19.989329
        defender      19.981130
        goalkeeper    20.061339
Name: age, dtype: float64

In [9]:
league.groupby(['team','position']).mean()['age']

team    position
blue    attacker      20.005968
        defender      19.975194
        goalkeeper    19.967840
green   attacker      20.017292
        defender      20.002325
        goalkeeper    19.984431
red     attacker      19.987505
        defender      19.994590
        goalkeeper    20.034683
yellow  attacker      19.989329
        defender      19.981130
        goalkeeper    20.061339
Name: age, dtype: float64

In [10]:
%timeit league.groupby(['team','position']).mean()['age']
#750ms to run

389 ms Â± 32.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [11]:
league['position']=league['position'].astype('category')

In [12]:
league['team']=league['team'].astype('category')

In [13]:
league.info() #from 68 to 42 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   age          int32
 1   position     category
 2   team         category
 3   win          object
 4   probability  float64
dtypes: category(2), float64(1), int32(1), object(1)
memory usage: 42.0+ MB

In [14]:
league['age']=league['age'].astype('int8') 
league['probability']=league['probability'].astype('float32')

In [15]:
league.info()#from 42 to 28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   age          int8
 1   position     category
 2   team         category
 3   win          object
 4   probability  float32
dtypes: category(2), float32(1), int8(1), object(1)
memory usage: 28.6+ MB

In [16]:
#league['win']=league['win'].map({'yes':1,'no':0})
#an to kanw etsi den katalabainei true false kai ta kanei int32

In [17]:
league.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   age          int8
 1   position     category
 2   team         category
 3   win          object
 4   probability  float32
dtypes: category(2), float32(1), int8(1), object(1)
memory usage: 28.6+ MB

In [18]:
league['win']=league['win'].map({'yes':True,'no':False})

In [19]:
league.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   age          int8
 1   position     category
 2   team         category
 3   win          bool
 4   probability  float32
dtypes: bool(1), category(2), float32(1), int8(1)
memory usage: 15.3 MB

In [20]:
15.3/68.7

0.22270742358078602

In [21]:
#new data is the 1/5 of the original one